# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio files
Debug
Release
*.opensdf
*.sdf
*.suo

# Power Poitn files
~$*

# Vim temporary files
*~
*.swp
